<!DOCTYPE html>

<html lang="bn">

    <head>

        <title>Todo Cards</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="/CSS/allTodo.css">
        
    </head>

    <body>

    <div class="todo-container" id="todoContainer">

        <!-- all todos are set using js  -->

    </div>

    <script src="/JS/allTodo.js"></script>

    </body>
</html>
