<!DOCTYPE html>

<html lang="en">
    <head>

        <title>Todo App - Home</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="/CSS/layoutDesign.css">

    </head>

    <body>

        <!-- header / navbar section -->
        <%- include("./layout/header") %>

        <!-- Main Content section -->
        <div class="container">
            <h1>Welcome to Todo App</h1>
            <p>Organize your daily tasks efficiently. Add new todos, view all your tasks, and stay productive.</p>
        </div>

        <!-- footer section  -->
        <%- include("./layout/footer") %>

    </body>

</html>
